# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DataStructureAndAlgorithm\DataStructure_C137\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
